# Node.js
npm-debug.log
npm-debug.log.*
yarn-error.log

# Environment variables
.env

# Editor directories and files
.idea
*.sublime-workspace
*.sublime-project
.vscode/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Dist / Build
dist/
build/
